{% extends "base.html" %}
{% block title %}IPSC - El Presidente{% endblock %}
{% block content %}
<form class="" action="/generate-pdf-ipsc" method="post">
    {% include 'setup.html' %}
    <div class="mb-6 max-w-2xl mx-auto">
        <h2>IPSC - El Presidente</h2>

        <div class="mb-6 max-w-2xl mx-auto mt-4">
            <img src="{{ url_for('static', filename='images/ipsc_preview.png') }}" alt="IPSC - El Presidente">
        </div>
    </div>
    <div class="text-center">
        <button type="submit"
                class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition-colors">
            Generuj
        </button>
    </div>
</form>
{% endblock %}
