{% extends "base.html" %}
{% block title %}El Presidente{% endblock %}
{% block content %}


<form class="" action="/generate-pdf-ipsc" method="post" target="_blank">
    {% include 'setup.html' %}
    <div class="mb-6 max-w-2xl mx-auto">
        <h2>{%trans%}Select the stage{%endtrans%}</h2>

        <div id="stage" class="grid grid-cols-1 gap-4">
            <div>
                <label for="ipsc">
                    <p>IPSC</p>
                    <img src="{{ url_for('static', filename='images/ipsc_el_presidente.webp') }}" alt="IPSC">
                    <input type="radio" id="ipsc" name="target_type" value="ipsc" required>
                </label>
            </div>
            <div>
                <label for="idpa">
                    <p>IDPA</p>
                    <img src="{{ url_for('static', filename='images/idpa_el_presidente.webp') }}"
                         alt="IDPA">
                <input type="radio" id="idpa" name="target_type" value="idpa">
                </label>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit"
                class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition-colors">
            {%trans%}Generate PDF{%endtrans%}
        </button>
    </div>
</form>
{% endblock %}
